.map {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1000;
}

#card {
    width: 425px;
    right: 0px;
    margin: 12px 12px 0px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 10px;
    position: absolute;
}

#header {
    border-radius: 10px;
    background-color: aliceblue;
    padding: 5px;
    /* padding-bottom: 15px; */
}

/* #data-config {
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
} */
#data-config {
    width: 100%;
    border: 1px solid black;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.data-choice {
    flex: 1 1 auto;
}

#button-holder {
    align-items: end;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.display-option-btn-clicked {
    background-color: rgb(229, 229, 229);
    border-radius: 0px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    border-color: rgb(229, 229, 229) currentcolor rgb(229, 229, 229) rgb(229, 229, 229);
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    border-image: none 100% / 1 / 0 stretch;
    transition: background-color 0.1s ease 0s;
}

.display-option-btn {
    background-color: inherit;
    border-radius: 0px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    border-color: rgb(229, 229, 229) currentcolor rgb(229, 229, 229) rgb(229, 229, 229);
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    border-image: none 100% / 1 / 0 stretch;
    transition: background-color 0.1s ease 0s;
}

.calander-choice {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-flow: column wrap; */
    gap: 10px;
}

.calander-selection {
    transition: all 0.15s ease 0s;
    font-family: primary--regular;
    font-size: 13px;
    color: rgb(51, 51, 51);
    border: 1px solid rgb(229, 229, 229);
    border-radius: 3px;
    box-sizing: border-box;
    padding: 10px;
    width: 175px;
}

.calander-wrapper {
    display: flex;
}

.option-title {
    margin: 5px;
    color: grey;
}

#display-options-wrapper {
    padding: 10px;
}







/* CSS */
#get-location-btn {
    background-color: #FFFFFF;
    border: 0;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 2rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 10px;
}

#get-location-btn:hover {
    background-color: rgb(249, 250, 251);
}

#get-location-btn:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

#get-location-btn:focus-visible {
    box-shadow: none;
}


.collapsible {
    background-color: aliceblue;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 25px;
    border-radius: 3px;
}

.collapsible:hover {
    background-color: rgb(224, 227, 241);
}

.collapsible:after {
    content: '\2303';
    color: gray;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2304";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    /* background-color: #f1f1f1; */
}

.collapsed {
    opacity: 65%;
}

/* pop up */
.ol-popup {
    background-color: aliceblue;
    border-radius: 10px;
    padding: 15px;
}

.popup-subtitle {
    color: cornflowerblue;
    margin: -5px;
}

.popup-values {
    color: darkslategrey;
}